/* General Styles */
body {
    font-family: 'Courier New', Courier, monospace; /* Changed to a code font */
    margin: 0;
    padding: 0;
    background-color: #000; /* Set background to solid black */
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Header Section */
header {
    padding: 40px 20px; /* Adjusted padding */
    text-align: center;
    background: rgba(0, 0, 0, 0.9); /* Darker background for header */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

header h1 {
    margin: 0;
    font-size: 3em; /* Reduced font size */
    color: #FF0000
